Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

version-sync:
  name: Sync version from version.yaml
  entry: python scripts/sync_version.py
  language: system
  pass_filenames: false
  always_run: false

mkdocs-build-check:
  name: Check MkDocs builds without errors
  entry: mkdocs build --strict
  language: system
  pass_filenames: false
  always_run: false

feat: Improve Linux-specific handling in desktop asset functions with dummy path returns for non-Linux systems
  src/hei_datahub/desktop_install.py
Due: none

feat: Return dummy paths for non-Linux systems in XDG data home and app data directory functions
  src/hei_datahub/desktop_install.py
Due: none

feat: Update build script to ensure uv is used for package management and add version.yaml to PyInstaller build
  scripts/build_desktop_binary.sh
Due: none

feat: Add comprehensive binary build guide for Hei-DataHub with installation and troubleshooting instructions
  docs/installation/binary-build.md
Due: mkdocs-build-check

feat: Add update repair tool and installation health check with improved error recovery
  CHANGELOG.md
Due: none

feat: Implement installation check and repair functionality in AtomicUpdateManager
  src/mini_datahub/cli/update_manager.py
Due: none

fix: Correct formatting of locked files message in installation error panel
  src/mini_datahub/cli/update_manager.py
Due: none

feat: Add installation health check and repair options to update command
  src/mini_datahub/cli/main.py
Due: none

feat: Enhance Windows update process with user guidance and error handling
  src/mini_datahub/cli/update_manager.py
Due: none

feat: Add Windows update script to facilitate app updates and handle dependencies
  scripts/windows_update.bat
Due: none

Implement feature X to enhance user experience and optimize performance
  uv.lock
Due: none

refactor: Update Windows update handling notes and remove outdated warning message
  src/mini_datahub/cli/update_manager.py
Due: none

feat: Implement Windows-specific update strategy using external script to handle file lock issues
  src/mini_datahub/cli/main.py
Due: none

fix: Remove unnecessary blank line in AtomicUpdateManager's run_update method
  src/mini_datahub/cli/update_manager.py
Due: none

feat: Update Windows update handling to execute script in the same terminal and improve user instructions
  src/mini_datahub/cli/main.py
Due: none

fix: Update default branch name in Windows update script to avoid confusion
  scripts/windows_update.bat
Due: none

fix: Update batch script execution method to use os.system for better compatibility on Windows
  src/mini_datahub/cli/main.py
Due: none

feat: Refactor update handling to use OS-specific functions and improve Windows update strategy
  src/mini_datahub/cli/main.py
Due: none

feat: Implement Linux-specific update logic using AtomicUpdateManager
  src/mini_datahub/cli/linux_update.py
Due: none

feat: Add macOS-specific update logic using Linux update implementation
  src/mini_datahub/cli/macos_update.py
Due: none

feat: Implement Windows-specific update logic using external batch script to avoid file locks
  src/mini_datahub/cli/windows_update.py
Due: none

feat: Refactor update handling to use dedicated OS-specific modules for improved maintainability
  src/mini_datahub/cli/main.py
Due: none

feat: Enhance Windows update logic to check for running processes and improve script execution flow
  src/mini_datahub/cli/windows_update.py
Due: none

feat: Improve branch selection and confirmation process in Windows update logic
  src/mini_datahub/cli/windows_update.py
Due: none

feat: Enhance batch script output for Windows update with improved formatting and error handling
  src/mini_datahub/cli/windows_update.py
Due: none

feat: Improve batch script output formatting for Windows update process
  src/mini_datahub/cli/windows_update.py
Due: none

feat: Improve batch script execution flow and add initial delay for better compatibility
  src/mini_datahub/cli/windows_update.py
Due: none

feat: Update version to 0.58.3-beta and change codename to 'Windows Warrior' with critical update notes
  version.yaml
Due: version-sync

feat: Enhance batch script execution for Windows update with improved process handling and terminal management
  src/mini_datahub/cli/windows_update.py
Due: none

feat: Update changelog for 0.58.3-beta release with Windows update fixes and documentation improvements
  CHANGELOG.md
Due: none

feat: Update project version to 0.58.3-beta and change codename to 'Streamline WIN-SUCKS'
  mkdocs.yml
Due: mkdocs-build-check

feat: Bump version to 0.58.3-beta in pyproject.toml
  pyproject.toml
Due: none

feat: Update README to reflect version 0.58.3-beta and change codename to 'Streamline Windows SUCKS'
  README.md
Due: none

feat: Update codename to 'Streamline WIN-SUCKS' in version.yaml
  version.yaml
Due: version-sync

feat: Add Windows Update Patch details to index.md for version 0.58.3-beta
  docs/index.md
Due: mkdocs-build-check

feat: Update version to 0.58.3-beta and add Windows SUCKS Patch details in 0.58-beta.md
  docs/whats-new/0.58-beta.md
Due: mkdocs-build-check

feat: Update version to 0.58.3-beta and change codename to 'Streamline WIN-SUCKS' in version.yaml
  src/mini_datahub/version.yaml
Due: version-sync

feat: Add Windows update instructions and improve installation section in troubleshooting.md
  docs/help/troubleshooting.md
Due: mkdocs-build-check

feat: Implement automatic Windows update handler and enhance error handling for update failures
  WINDOWS_UPDATE_FIX.md
Due: none

feat: Add README for Windows update scripts with usage instructions and troubleshooting tips
  scripts/README_WINDOWS_UPDATE.md
Due: none

Path conditions:
  version-sync: any of: version\.yaml
  mkdocs-build-check: any of: ^(mkdocs\.yml|docs/)
