Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

.pre-commit-config.yaml:

# Pre-commit hooks for Hei-DataHub
repos:
  - repo: local
    hooks:
      - id: version-sync
        name: Sync version from version.yaml
        entry: python scripts/sync_version.py
        language: system
        files: version\.yaml
        pass_filenames: false
        always_run: false

      - id: mkdocs-build-check
        name: Check MkDocs builds without errors
        entry: mkdocs build --strict
        language: system
        files: ^(mkdocs\.yml|docs/)
        pass_filenames: false
        always_run: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

feat: Add Windows update instructions and clarify automatic update process for Hei-DataHub
  docs/installation/windows-notes.md
Due: mkdocs-build-check

feat: Update version to 0.58.3-beta and change codename to 'Streamline WIN-SUCKS' in version.md
  docs/_includes/version.md
Due: mkdocs-build-check

fix: Update project codename and version in 0.57-beta release notes
  docs/whats-new/0.57-beta.md
Due: mkdocs-build-check

refactor: Clean up migration guide and improve workspace detection documentation
  docs/whats-new/0.58-beta.md
Due: mkdocs-build-check

feat: Update revision to 3 and bump hei-datahub version to 0.58.3b0 in uv.lock
  uv.lock
Due: none

feat: Add storage configuration for cloud and filesystem access
  src/mini_datahub/services/config.py
Due: none

feat: Implement filesystem storage backend for local directory access
  src/mini_datahub/services/filesystem_storage.py
Due: none

feat: Enhance dataset loading and searching to support cloud storage integration
  src/mini_datahub/ui/views/home.py
Due: none

feat: Add WebDAV integration manual test guide
  tests/manual/webdav_integration_test.md
Due: none

feat: Refactor cloud file loading and searching for improved metadata handling
  src/mini_datahub/ui/views/home.py
Due: none

feat: Add Cloud Files TUI for browsing remote storage with navigation and preview features
  src/mini_datahub/ui/views/cloud_files.py
Due: none

feat: Add styling for Cloud Files screen layout and components
  src/mini_datahub/ui/styles/cloud_files.tcss
Due: none

feat: Implement WebDAV storage backend for Seafile/Heibox integration
  src/mini_datahub/services/webdav_storage.py
Due: none

feat: Add abstract storage backend interface with file operations
  src/mini_datahub/services/storage_backend.py
Due: none

feat: Implement storage manager for backend instance creation and configuration
  src/mini_datahub/services/storage_manager.py
Due: none

feat: Update version to 0.59.0-beta and change codename to Privacy
  version.yaml
Due: version-sync

feat: Add setup script for WebDAV/Heibox integration
  scripts/setup_webdav.sh
Due: none

feat: Enhance cloud file search to include metadata fields and improve query parsing
  src/mini_datahub/ui/views/home.py
Due: none

feat: Update version to 0.59.0-beta and change codename to Privacy in configuration files
  mkdocs.yml
  pyproject.toml
  version.yaml
Due: version-sync, mkdocs-build-check

feat: Update version to 0.59.0-beta in README.md
  README.md
Due: none

feat: Add new Hei Datahub logo images
  assets/png/Hei-datahub-logo-H.png
  assets/png/Hei-datahub-logo-inline.png
  assets/png/Hei-datahub-logo-main.png
  assets/png/Hei-datahub-logo-round.png
Due: none

feat: Update logo images in README.md to new assets
  README.md
Due: none

feat: Adjust logo dimensions in README.md for better display
  README.md
Due: none

feat: Rearrange logo images in README.md for improved layout
  README.md
Due: none

feat: Update logo alt text and dimensions in README.md for consistency
  README.md
Due: none

feat: Add "Add Dataset to Cloud" guide to navigation in mkdocs.yml
  mkdocs.yml
Due: mkdocs-build-check

feat: Implement cloud storage saving functionality for datasets
  src/mini_datahub/ui/views/home.py
Due: none

feat: Update Typical Workflows section in README.md to include cloud-based dataset management
  README.md
Due: none

feat: Add comprehensive guide for adding datasets directly to cloud storage
  docs/how-to/add-dataset-to-cloud.md
Due: mkdocs-build-check

feat: Add tomli and tomli-w dependencies for compatibility with Python versions < 3.11
  pyproject.toml
Due: none

feat: Add README.md for Authentication Module with usage instructions and security details
  src/mini_datahub/auth/README.md
Due: none

feat: Add WebDAV Authentication Setup documentation for Linux
  docs/installation/auth-setup-linux.md
Due: mkdocs-build-check

feat: Implement authentication and credential management module with Linux keyring support
  src/mini_datahub/auth/__init__.py
Due: none

feat: Add Linux keyring and environment variable-based credential storage for WebDAV authentication
  src/mini_datahub/auth/credentials.py
Due: none

feat: Implement interactive setup wizard for WebDAV authentication on Linux with keyring support
  src/mini_datahub/auth/setup.py
Due: none

feat: Add WebDAV credential validation client for Linux
  src/mini_datahub/auth/validator.py
Due: none

feat: Add WebDAV authentication setup and status commands for Linux
  src/mini_datahub/cli/main.py
Due: none

feat: Add function to retrieve path for TOML config file
  src/mini_datahub/infra/config_paths.py
Due: none

feat: Enhance WebDAV backend configuration with keyring support and improved error handling
  src/mini_datahub/services/storage_manager.py
Due: none

feat: Implement WebDAV credentials clearing functionality with config updates
  src/mini_datahub/auth/clear.py
Due: none
