Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

version-sync:
  name: Sync version from version.yaml
  entry: python scripts/sync_version.py
  language: system
  pass_filenames: false
  always_run: false

mkdocs-build-check:
  name: Check MkDocs builds without errors
  entry: mkdocs build --strict
  language: system
  pass_filenames: false
  always_run: false

Add dev-docs
  .gitignore
Due: none

feat: Add Vim-like keyboard navigation for MkDocs
  docs/assets/vim-navigation.js
Due: mkdocs-build-check

Delete mkdocs-dev.yml
  mkdocs-dev.yml
Due: none

Fix #10: Display separate badges for multi-term search
  src/mini_datahub/ui/views/home.py
  tests/test_persistence_bug_7.py
  tests/test_search_tokenization_bug_10.py
  tests/test_ui_badges_bug_10.py
Due: none

fix(ui): Make badge container horizontal with scroll for Bug #10
  COMPLETION_SUMMARY_v0.58.1-beta.md
  IMPLEMENTATION_v0.58.1-beta.md
  QA_TESTING_v0.58.1-beta.md
  QUICK_REFERENCE_v0.58.1-beta.md
  RELEASE_CHECKLIST_v0.58.1-beta.md
  docs/13-cli-reference.md
  docs/help/troubleshooting.md
  docs/how-to/07-search-advanced.md
  scripts/debug_bug_10.py
  scripts/test_bug_10_interactive.py
  scripts/verify_bug10_fix.py
  src/mini_datahub/ui/views/home.py
Due: mkdocs-build-check

feat(ui): Add random theme-based colors to search badges
  scripts/debug_bug_10.py
  scripts/test_bug_10_interactive.py
  scripts/verify_bug10_fix.py
  src/mini_datahub/ui/views/home.py
  tests/test_persistence_bug_7.py
  tests/test_search_tokenization_bug_10.py
  tests/test_ui_badges_bug_10.py
Due: none

feat(ui): Add retro background colors to search badges
  src/mini_datahub/ui/views/home.py
Due: none

fix(toml): Include UI view files in package data for mini_datahub
  pyproject.toml
Due: none

feat(ui): Add home screen styles and retro badge colors
  src/mini_datahub/ui/views/home_screen.tcss
Due: none

feat(ui): Load CSS from external file and update badge color logic
  src/mini_datahub/ui/views/home.py
Due: none

fix(ui): Adjust margin for filter badges container in home screen styles
  src/mini_datahub/ui/views/home_screen.tcss
Due: none

fix(ui): Update padding for filter badges and remove borders from retro badge styles
  src/mini_datahub/ui/views/home_screen.tcss
Due: none

refactor(ui): Separate CSS styles into external file
  docs/how-to/customize-badge-styles.md
Due: mkdocs-build-check

feat(dataset): add testing-the-beta-version — Test v5
  data/testing-the-beta-version/metadata.yaml
Due: none

feat(autocomplete): implement search and field name suggesters for improved input suggestions
  src/mini_datahub/ui/widgets/autocomplete.py
Due: none

feat(autocomplete): add styles for autocomplete widget and suggestions
  src/mini_datahub/ui/widgets/autocomplete.tcss
Due: none

feat(autocomplete): enhance SearchSuggester to load autocomplete data and improve suggestion logic
  src/mini_datahub/ui/widgets/autocomplete.py
Due: none

feat(home-screen): implement search autocomplete setup for improved user experience
  src/mini_datahub/ui/views/home.py
Due: none

feat(search): enhance search input with autocomplete instructions and key event handling
  src/mini_datahub/ui/views/home.py
Due: none

feat(search): add note about new search autocomplete feature in v0.57.1-beta
  docs/getting-started/03-the-basics.md
Due: mkdocs-build-check

feat(home-screen): setup autocomplete suggester for search input
  src/mini_datahub/ui/views/home.py
Due: none

feat(package-data): add UI view and widget styles to package data
  pyproject.toml
Due: none

feat(autocomplete): add comprehensive guide for search autocomplete functionality
  docs/how-to/08-search-autocomplete.md
Due: mkdocs-build-check

feat(search): add detailed documentation for new autocomplete feature in 0.57.1-beta
  docs/how-to/07-search-advanced.md
Due: mkdocs-build-check

feat(version): update version to 0.57.1-beta and adjust release date
  docs/_includes/version.md
  pyproject.toml
  src/mini_datahub/_version.py
  version.yaml
Due: version-sync, mkdocs-build-check

feat(version): update version to 0.57.1-beta and add autocomplete guide
  docs/index.md
Due: mkdocs-build-check

feat(docs): update open issues and document fixes in v0.57.1-beta
  docs/whats-new/0.57-beta.md
Due: mkdocs-build-check

feat(docs): update What's New section for v0.57.1-beta with bug fixes and documentation overhaul
  docs/index.md
Due: mkdocs-build-check

feat(docs): update FAQ with fixes for dataset editing and config changes in v0.57.1-beta
  docs/help/90-faq.md
Due: mkdocs-build-check

feat(docs): update troubleshooting guide for v0.57.1-beta with known issues and fixes
  docs/help/troubleshooting.md
Due: mkdocs-build-check

feat(docs): update What's New section for v0.57.1-beta with critical bug fixes and remaining open issues
  docs/whats-new/0.57-beta.md
Due: mkdocs-build-check

feat(docs): update version number and latest release in README for v0.57.1-beta
  README.md
Due: none

feat(release): Remove v0.58.1-beta documentation and implementation files
  COMPLETION_SUMMARY_v0.58.1-beta.md
  DEV_DOCS_SUMMARY.md
  GITHUB_PAGES_FIX.md
  IMPLEMENTATION_v0.58.1-beta.md
  OBFUSCATED_DOCS_PATH.md
  QA_TESTING_v0.58.1-beta.md
  QUICK_REFERENCE_v0.58.1-beta.md
  RELEASE_CHECKLIST_v0.58.1-beta.md
Due: none

feat(docs): remove outdated renovation notes for v0.57.0-beta
  docs/RENOVATION_NOTES_057.md
Due: mkdocs-build-check

fix(workflow): update version display command to ensure correct module path
  .github/workflows/version-sync.yml
Due: none

fix(import): update import path for version module to reflect project structure
  src/mini_datahub/__init__.py
Due: none

fix(workflow): restore check for uncommitted changes in version sync process
  .github/workflows/version-sync.yml
Due: none

chore: trigger workflow to verify version display fix
  version.yaml
Due: version-sync

fix(docs): update version notes to include bug fix details for v0.57.1-beta
  docs/index.md
Due: mkdocs-build-check

Path conditions:
  version-sync: any of: version\.yaml
  mkdocs-build-check: any of: ^(mkdocs\.yml|docs/)
