Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

.pre-commit-config.yaml:

# Pre-commit hooks for Hei-DataHub
repos:
  - repo: local
    hooks:
      - id: version-sync
        name: Sync version from version.yaml
        entry: python scripts/sync_version.py
        language: system
        files: version\.yaml
        pass_filenames: false
        always_run: false

      - id: mkdocs-build-check
        name: Check MkDocs builds without errors
        entry: mkdocs build --strict
        language: system
        files: ^(mkdocs\.yml|docs/)
        pass_filenames: false
        always_run: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

fix: Call initialize_workspace() before all commands to ensure first-run dataset seeding
  src/mini_datahub/cli/main.py
  src/mini_datahub/infra/paths.py
Due: none

Implement XDG-compliant standalone installation for Hei-DataHub (v0.58.0-beta)
  IMPLEMENTATION_SUMMARY_v0.58_XDG.md
  docs/installation/data-seeding-paths.md
  docs/installation/uv-install.md
  src/mini_datahub/infra/paths.py
Due: mkdocs-build-check

fix: Update release version to 0.58.1-beta and modify feature descriptions in version.md
  docs/_includes/version.md
Due: mkdocs-build-check

fix(data): update data inclusion in MANIFEST.in and pyproject.toml, and adjust dataset initialization logic
  MANIFEST.in
  pyproject.toml
  src/mini_datahub/infra/paths.py
Due: none

feat(install): XDG-compliant standalone installation - NO REPO NEEDED!
  FINAL_SOLUTION_UV_INSTALL.md
  src/mini_datahub/infra/paths.py
Due: none

feat: Add XDG-compliant standalone installation documentation
  XDG_STANDALONE_INSTALLATION.md
Due: none

feat(docs): Add QUICK_REFERENCE_v0.58.md for installation and usage guidance
  CORRECT_INSTALL_GUIDE_v0.58.md
  CRITICAL_FIXES_v0.58.md
  FINAL_CHECKLIST_v0.58.md
  FINAL_FIX_SUMMARY_v0.58.md
  IMPLEMENTATION_SUMMARY_v0.58.md
  QUICK_REFERENCE_v0.58.md
  README.md
  docs/installation/README.md
  docs/installation/private-repo-access.md
  docs/installation/uv-quickstart.md
  docs/installation/windows-notes.md
  scripts/fix_uv_commands.sh
  scripts/validate_v0.58_implementation.sh
Due: mkdocs-build-check

docs: Add automatic indexing info to fix documentation
  FIX_FIRST_RUN_SEEDING_v0.58.md
Due: none

fix(install): UV installs now ALWAYS use ~/.hei-datahub/ regardless of CWD
  FIX_PACKAGE_REAL_DATASETS.md
  src/mini_datahub/infra/paths.py
Due: none

docs: Update CHANGELOG for version 0.58.1-beta with new features and fixes
  CHANGELOG.md
Due: none

feat: Add 'hei-datahub update' command for easy updates
  src/mini_datahub/cli/main.py
Due: none

docs: Add update command documentation
  UPDATE_COMMAND_v0.58.md
Due: none

fix(docs): Simplify UV installation commands and update documentation for consistency
  CORRECT_INSTALL_GUIDE_v0.58.md
  FINAL_CHECKLIST_v0.58.md
  FINAL_FIX_SUMMARY_v0.58.md
  IMPLEMENTATION_SUMMARY_v0.58.md
  QUICK_REFERENCE_v0.58.md
  scripts/fix_uv_commands.sh
Due: none

chore: Remove debug output from initialize_workspace()
  src/mini_datahub/infra/paths.py
Due: none

fix: Update version to 0.58.1-beta in pyproject.toml
  pyproject.toml
Due: none

fix(init): auto-reindex datasets after first-run initialization
  src/mini_datahub/infra/paths.py
Due: none

fix: Use __file__ instead of cwd() for environment detection
  src/mini_datahub/infra/paths.py
Due: none

fix(install): correct workspace detection and template data paths for UV installs
  DATA_PATHS_FIX_v0.58.md
  MANIFEST.in
  pyproject.toml
  src/mini_datahub/infra/paths.py
Due: none

fix: Auto-index datasets on first run using correct import paths
  src/mini_datahub/infra/paths.py
Due: none

fix(packaging): Bundle all datasets with package installation
  DATA_PATHS_FIX_v0.58.md
  MANIFEST.in
  pyproject.toml
  src/mini_datahub/cli/main.py
  src/mini_datahub/data/burned-area/metadata.yaml
  src/mini_datahub/data/land-cover/metadata.yaml
  src/mini_datahub/data/precipitation/metadata.yaml
  src/mini_datahub/data/testing-the-beta-version/metadata.yaml
  src/mini_datahub/infra/paths.py
  src/mini_datahub/schema.json
  src/mini_datahub/templates/data/testing-the-beta-version/metadata.yaml
Due: none

docs: Update fix documentation with environment detection issue
  FIX_FIRST_RUN_SEEDING_v0.58.md
Due: none

fix: Clean up whitespace in update command implementation
  UPDATE_COMMAND_v0.58.md
Due: none

fix: Update version to 0.58.1-beta and modify release date and notes in version.yaml
  version.yaml
Due: version-sync

fix: Update Python version requirement to >=3.10 in pyproject.toml
  pyproject.toml
Due: none

fix: Clean up whitespace in troubleshooting guide and update command paths
  docs/installation/troubleshooting.md
Due: mkdocs-build-check

Add comprehensive installation and troubleshooting documentation for Hei-DataHub
  .github/PULL_REQUEST_TEMPLATE_v0.58.md
  docs/installation/desktop-version.md
  docs/installation/private-repo-access.md
  docs/installation/troubleshooting.md
  docs/installation/uv-quickstart.md
  docs/installation/windows-notes.md
Due: mkdocs-build-check

fix(paths): improve workspace detection logic for development and user environments
  TESTING_WORKSPACE_FIX.md
  src/mini_datahub/infra/paths.py
Due: none

fix(install): add comprehensive solution for UV installs to always use ~/.hei-datahub/ and package all datasets
  FINAL_SOLUTION_UV_INSTALL.md
Due: none

feat: Implement cross-platform data directory resolution with OS-specific defaults
  src/mini_datahub/infra/platform_paths.py
Due: none

refactor: Improve cross-platform path management and CLI data directory handling
  src/mini_datahub/infra/paths.py
Due: none

feat: Add Doctor command for system diagnostics and health checks
  src/mini_datahub/cli/main.py
Due: none

feat: Add Doctor command for comprehensive diagnostics and health checks
  src/mini_datahub/cli/doctor.py
Due: none

docs: Enhance troubleshooting guide with cross-platform data directory support and diagnostics
  docs/installation/troubleshooting.md
Due: mkdocs-build-check

refactor: Remove redundant print statement in update command
  src/mini_datahub/cli/main.py
Due: none

docs: Update manual for v0.58.1 with new features and commands
  docs/index.md
Due: mkdocs-build-check

docs: add implementation summary document
  DEV_DOCS_SUMMARY.md
Due: none

docs: add API reference overview page
  dev-docs/api-reference/overview.md
Due: none

style: clean up whitespace and formatting in site-switcher.js
  dev-docs/assets/site-switcher.js
Due: none

feat(docs): add mkdocs-simple-blog dependency for theme support
  dev-docs/requirements.txt
Due: none

docs: initialize comprehensive developer documentation site
  .github/workflows/dev-docs.yml
  dev-docs/CHANGELOG.md
  dev-docs/README.md
  dev-docs/adr/001-docs-split.md
  dev-docs/adr/002-branching-strategy.md
  dev-docs/adr/003-changelog-enforcement.md
  dev-docs/adr/index.md
  dev-docs/appendices/glossary.md
  dev-docs/architecture/module-map.md
  dev-docs/architecture/overview.md
  dev-docs/assets/dev-overrides.css
  dev-docs/assets/site-switcher.js
  dev-docs/contributing/workflow.md
  dev-docs/index.md
  dev-docs/known-issues.md
  dev-docs/maintenance/coverage-tracker.md
  dev-docs/maintenance/health-checklist.md
  dev-docs/overview/audience.md
  dev-docs/overview/compatibility.md
  dev-docs/overview/contributing-docs.md
  dev-docs/overview/introduction.md
  dev-docs/requirements.txt
  mkdocs-dev.yml
Due: none
