Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

.pre-commit-config.yaml:

# Pre-commit hooks for Hei-DataHub
repos:
  - repo: local
    hooks:
      - id: version-sync
        name: Sync version from version.yaml
        entry: python scripts/sync_version.py
        language: system
        files: version\.yaml
        pass_filenames: false
        always_run: false

      - id: mkdocs-build-check
        name: Check MkDocs builds without errors
        entry: mkdocs build --strict
        language: system
        files: ^(mkdocs\.yml|docs/)
        pass_filenames: false
        always_run: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

fix: Update links in CLI reference for correct relative paths
  docs/reference/13-cli-reference.md
Due: mkdocs-build-check

feat: Refactor settings screen for WebDAV (HeiBox) integration, updating UI and configuration handling
  src/mini_datahub/ui/views/settings.py
Due: none

feat: Implement smart autocomplete suggestion service with context-aware search and caching
  src/mini_datahub/services/suggestion_service.py
Due: none

fix: Simplify section headers in 0.59-beta release notes for clarity
  docs/whats-new/0.59-beta.md
Due: mkdocs-build-check

refactor: Enhance auth clear functionality to also clear search index database
  src/mini_datahub/auth/clear.py
Due: none

refactor: Update auth clear command help text to include search index clearing
  src/mini_datahub/cli/main.py
Due: none

docs: Clarify desktop integration management in API reference section
  docs/installation/desktop-integration.md
Due: mkdocs-build-check

refactor: Update UI documentation for clarity and accuracy
  docs/reference/10-ui.md
Due: mkdocs-build-check

feat: Implement dataset deletion functionality with confirmation dialog
  src/mini_datahub/ui/views/home.py
Due: none

refactor: Remove troubleshooting and compatibility sections for clarity and conciseness
  docs/how-to/09-change-theme.md
Due: mkdocs-build-check

feat: Update version to 0.59.0-beta with new codename and release date
  src/mini_datahub/version.yaml
Due: version-sync

feat: Update keybindings and notifications for improved user experience
  src/mini_datahub/ui/views/home.py
Due: none

feat: Add new logo color design to release notes in v0.59-beta
  docs/whats-new/0.59-beta.md
Due: mkdocs-build-check

fix: Update FAQ link to correct path in customization guide
  docs/reference/customization.md
Due: mkdocs-build-check

feat: Update advanced search guide to replace performance tuning section with help resources
  docs/how-to/07-search-advanced.md
Due: mkdocs-build-check

fix: Update configuration link to correct path in data seeding documentation
  docs/installation/data-seeding-paths.md
Due: mkdocs-build-check

feat: Add comprehensive test suite for Smart Autocomplete and Badge System, including suggestion service, badge rendering, and usage tracking
  test_smart_autocomplete.py
  test_tui_ux_features.py
  test_two_level_autocomplete.py
Due: none

refactor: Remove Search Autocomplete Guide for clarity and conciseness
  docs/how-to/08-search-autocomplete.md
Due: mkdocs-build-check

refactor: Update CLI reference for Hei-DataHub 0.59-beta, including new authentication commands and version information
  docs/reference/13-cli-reference.md
Due: mkdocs-build-check

refactor: Update configuration documentation to reflect YAML format and Heibox integration
  docs/reference/12-config.md
Due: mkdocs-build-check

feat: Document v0.59.0-beta release with WebDAV migration, new settings, and enhanced features
  CHANGELOG.md
Due: none

refactor: Remove unreleased section and outdated version links from CHANGELOG
  CHANGELOG.md
Due: none

fix: Update release date for v0.59.0-beta in CHANGELOG
  CHANGELOG.md
Due: none

style: remove unnecessary whitespace and adjust padding in site-switcher
  dev-docs/assets/dev-overrides.css
Due: none

style: clean up whitespace in DEV_DOCS_SUMMARY.md
  DEV_DOCS_SUMMARY.md
Due: none

feat(docs): add mkdocs-simple-blog dependency for theme support
  dev-docs/requirements.txt
Due: none

feat: add mkdocs-include-markdown-plugin and mkdocs-macros-plugin dependencies
  dev-docs/requirements.txt
Due: none

docs: add implementation summary document
  DEV_DOCS_SUMMARY.md
Due: none

style: remove unnecessary whitespace in multiple documentation files
  dev-docs/adr/001-docs-split.md
  dev-docs/adr/002-branching-strategy.md
  dev-docs/adr/003-changelog-enforcement.md
  dev-docs/api-reference/overview.md
  dev-docs/architecture/overview.md
  dev-docs/contributing/workflow.md
  dev-docs/known-issues.md
  dev-docs/maintenance/coverage-tracker.md
  dev-docs/maintenance/health-checklist.md
  dev-docs/overview/audience.md
  dev-docs/overview/compatibility.md
  dev-docs/overview/contributing-docs.md
Due: none

style: remove unused tags plugin from mkdocs-dev.yml
  mkdocs-dev.yml
Due: none

style: clean up whitespace and formatting in site-switcher.js
  dev-docs/assets/site-switcher.js
Due: none

docs: add API reference overview page
  dev-docs/api-reference/overview.md
Due: none

docs: initialize comprehensive developer documentation site
  .github/workflows/dev-docs.yml
  dev-docs/CHANGELOG.md
  dev-docs/README.md
  dev-docs/adr/001-docs-split.md
  dev-docs/adr/002-branching-strategy.md
  dev-docs/adr/003-changelog-enforcement.md
  dev-docs/adr/index.md
  dev-docs/appendices/glossary.md
  dev-docs/architecture/module-map.md
  dev-docs/architecture/overview.md
  dev-docs/assets/dev-overrides.css
  dev-docs/assets/site-switcher.js
  dev-docs/contributing/workflow.md
  dev-docs/index.md
  dev-docs/known-issues.md
  dev-docs/maintenance/coverage-tracker.md
  dev-docs/maintenance/health-checklist.md
  dev-docs/overview/audience.md
  dev-docs/overview/compatibility.md
  dev-docs/overview/contributing-docs.md
  dev-docs/overview/introduction.md
  dev-docs/requirements.txt
  mkdocs-dev.yml
Due: none

style: remove icon prefixes from navigation links in index.md
  dev-docs/index.md
Due: none

fix: Configure mkdocs-dev.yml and CI/CD workflow for successful builds
  .github/workflows/dev-docs.yml
  .gitignore
  mkdocs-dev.yml
Due: none

fix: Combine user and dev docs in single GitHub Pages deployment
  .github/workflows/dev-docs.yml
Due: none

style: Update vim command bar to match simple-blog theme
  docs/assets/vim-navigation.js
Due: mkdocs-build-check

feat: Add obfuscated path for developer docs
  .github/workflows/dev-docs.yml
  docs/assets/vim-navigation.js
  mkdocs-dev.yml
Due: mkdocs-build-check

feat: Add vim command mode with :dev shortcut to navigate to developer docs
  GITHUB_PAGES_FIX.md
  OBFUSCATED_DOCS_PATH.md
  docs/assets/vim-navigation.js
Due: mkdocs-build-check

fix: Improve vim command mode with better styling and debugging
  docs/assets/vim-navigation.js
Due: mkdocs-build-check
