Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

version-sync:
  name: Sync version from version.yaml
  entry: python scripts/sync_version.py
  language: system
  pass_filenames: false
  always_run: false

mkdocs-build-check:
  name: Check MkDocs builds without errors
  entry: mkdocs build --strict
  language: system
  pass_filenames: false
  always_run: false

feat: add configuration migration guide for version 1 to version 2
  docs/reference/migration-v2.md
Due: mkdocs-build-check

feat: implement UI configuration and migration to version 2
  src/mini_datahub/services/config.py
Due: none

feat: enhance config migration logic to support version 2 updates
  src/mini_datahub/services/config.py
Due: none

feat: add keybinding utilities for dynamic action binding from config
  src/mini_datahub/ui/keybindings.py
Due: none

refactor: clean up whitespace in bind_actions_from_config function
  src/mini_datahub/ui/keybindings.py
Due: none

feat: add UI asset loading utilities for logos, stylesheets, and help text
  src/mini_datahub/ui/assets/loader.py
Due: none

feat: add default ASCII logo asset
  src/mini_datahub/ui/assets/ascii/logo_default.txt
Due: none

feat: add styles for autocomplete widget
  src/mini_datahub/ui/styles/autocomplete.tcss
Due: none

feat: add base styles for home screen layout
  src/mini_datahub/ui/styles/base.tcss
Due: none

feat: add home screen styles for layout and components
  src/mini_datahub/ui/styles/home.tcss
Due: none

feat: refactor keybindings loading and integrate logo widget
  src/mini_datahub/ui/views/home.py
Due: none

feat: remove home screen and autocomplete widget styles
  src/mini_datahub/ui/views/home_screen.tcss
  src/mini_datahub/ui/widgets/autocomplete.tcss
Due: none

feat: update ASCII logo in logo_default.txt
  src/mini_datahub/ui/assets/ascii/logo_default.txt
Due: none

feat: add MANIFEST.in to include essential project files
  MANIFEST.in
Due: none

feat: add version.yaml to package data in pyproject.toml
  pyproject.toml
Due: none

feat: update version to 0.57.2-beta and release date to 2025-10-09
  version.yaml
Due: version-sync

feat: update version notice and release date in version.md
  docs/_includes/version.md
Due: mkdocs-build-check

feat: refactor version handling to load data directly from version.yaml at runtime
  src/mini_datahub/version.py
Due: none

feat: add logo configuration options for version display
  src/mini_datahub/services/config.py
Due: none

feat: add version detection and formatting to logo display
  src/mini_datahub/ui/assets/loader.py
Due: none

feat: remove auto-generated version file in favor of dynamic version handling
  src/mini_datahub/_version.py
Due: none

feat: update version sync workflow to check version consistency and improve output
  .github/workflows/version-sync.yml
Due: none

feat: add version consistency checker script to validate version.yaml across project files
  scripts/check_version_consistency.py
Due: none

feat: update versioning section in documentation to reflect recent changes and improvements
  docs/index.md
Due: mkdocs-build-check

feat: update patch notes for 0.57.2-beta with version management improvements and bug fixes
  docs/whats-new/0.57-beta.md
Due: mkdocs-build-check

feat: Add comprehensive changelog for version 0.58.0-beta
  CHANGELOG.md
Due: none

feat: Add MANIFEST.in to include non-Python files in source distributions
  MANIFEST.in
Due: none

feat: Update project metadata and dependencies for hei-datahub
  pyproject.toml
Due: none

feat: Update README with new version and installation instructions for v0.58.0-beta
  README.md
Due: none

feat: Update version to 0.58.0-beta with new codename and release details
  version.yaml
Due: version-sync

feat: Add GitHub Actions workflow for building Linux binary and AppImage
  .github/workflows/build-binary.yml
Due: none

refactor: Clean up whitespace in build-binary.yml workflow
  .github/workflows/build-binary.yml
Due: none

feat: Add main entry point for Hei-DataHub module
  src/hei_datahub/__main__.py
  src/mini_datahub/__main__.py
Due: none

feat: Add script to create a .desktop launcher for Hei-DataHub
  scripts/create_desktop_entry.sh
Due: none

feat: Add comprehensive installation guide for Hei-DataHub v0.58.x-beta
  docs/installation/README.md
Due: mkdocs-build-check

feat: Update version notice to v0.58.0-beta with new codename and features
  docs/_includes/version.md
Due: mkdocs-build-check

feat: Add script to build standalone PyInstaller binary for Hei-DataHub
  scripts/build_desktop_binary.sh
Due: none

feat: Add __init__.py for Hei-DataHub alias package with metadata management
  src/hei_datahub/__init__.py
Due: none

fix: Clean up whitespace in handle_update function
  src/mini_datahub/cli/main.py
Due: none

feat(cli): add paths diagnostic command to display application paths and environment variables
  src/mini_datahub/cli/main.py
Due: none

Path conditions:
  version-sync: any of: version\.yaml
  mkdocs-build-check: any of: ^(mkdocs\.yml|docs/)
