Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

version-sync:
  name: Sync version from version.yaml
  entry: python scripts/sync_version.py
  language: system
  pass_filenames: false
  always_run: false

mkdocs-build-check:
  name: Check MkDocs builds without errors
  entry: mkdocs build --strict
  language: system
  pass_filenames: false
  always_run: false

feat: Implement smart autocomplete suggestion service with context-aware search and caching
  src/mini_datahub/services/suggestion_service.py
Due: none

feat: Update advanced search guide to replace performance tuning section with help resources
  docs/how-to/07-search-advanced.md
Due: mkdocs-build-check

fix: Update configuration link to correct path in data seeding documentation
  docs/installation/data-seeding-paths.md
Due: mkdocs-build-check

fix: Update tutorial links in README for consistency and accuracy
  docs/installation/README.md
Due: mkdocs-build-check

docs: Clarify desktop integration management in API reference section
  docs/installation/desktop-integration.md
Due: mkdocs-build-check

fix: Escape GitHub token variable in installation guide for proper rendering
  docs/installation/uv-install.md
Due: mkdocs-build-check

fix: Update links in CLI reference for correct relative paths
  docs/reference/13-cli-reference.md
Due: mkdocs-build-check

fix: Update FAQ link to correct path in customization guide
  docs/reference/customization.md
Due: mkdocs-build-check

fix: Remove outdated documentation links in the 0.58-beta release notes
  docs/whats-new/0.58-beta.md
Due: mkdocs-build-check

docs: Update release notes for v0.59-beta with privacy features and cloud-native workflow
  docs/whats-new/0.59-beta.md
Due: mkdocs-build-check

fix: Simplify section headers in 0.59-beta release notes for clarity
  docs/whats-new/0.59-beta.md
Due: mkdocs-build-check

feat: Add new logo color design to release notes in v0.59-beta
  docs/whats-new/0.59-beta.md
Due: mkdocs-build-check

feat: Update version information for v0.59.0-beta with privacy features
  docs/_includes/version.md
  src/mini_datahub/_version.py
Due: mkdocs-build-check

refactor: Remove auto-generated version information file
  src/mini_datahub/_version.py
Due: none

fix: Correct release date and update notes in version configuration
  src/mini_datahub/version.yaml
Due: version-sync

feat: Add comprehensive usage guide and demo for Two-Level Autocomplete functionality
  AUTOCOMPLETE_USAGE_GUIDE.md
  SMART_AUTOCOMPLETE_IMPLEMENTATION.md
  TUI_UX_IMPROVEMENTS_SUMMARY.md
  TWO_LEVEL_AUTOCOMPLETE_DEMO.md
Due: none

refactor: Remove outdated "Add Dataset to Cloud" entry from How-to Guides for clarity
  mkdocs.yml
Due: mkdocs-build-check

feat: Update documentation for Heibox integration, replacing GitHub setup instructions
  docs/how-to/04-settings.md
Due: mkdocs-build-check

refactor: Revise Customize Keybindings guide for clarity and detail
  docs/how-to/08-customize-keybindings.md
Due: mkdocs-build-check

refactor: Update Data & SQL documentation for cloud-first storage model and key differences
  docs/reference/11-data-and-sql.md
Due: mkdocs-build-check

feat: Refactor autocomplete suggester to enhance context-aware suggestions and streamline input parsing
  src/mini_datahub/ui/widgets/autocomplete.py
Due: none

feat: Simplify settings menu by removing unused options and updating labels
  src/mini_datahub/ui/views/settings_menu.py
Due: none

feat: Add comprehensive features implementation summary for Hei-DataHub v0.59-beta, including auto-clear index, dataset deletion, and undo/redo functionality
  FEATURES_IMPLEMENTATION_SUMMARY.md
Due: none

feat: Update dataset addition guide for Hei-DataHub 0.59-beta, enhancing clarity and syncing details
  docs/how-to/05-first-dataset.md
Due: mkdocs-build-check

fix: Remove extra newline and outdated reference to Search Autocomplete in dataset guide for improved clarity
  docs/how-to/05-first-dataset.md
Due: mkdocs-build-check

feat: Update dataset editing guide for Hei-DataHub 0.59-beta, enhancing clarity and syncing details
  docs/how-to/06-edit-datasets.md
Due: mkdocs-build-check

fix: Remove extra newline in dataset addition guide for improved formatting
  docs/how-to/05-first-dataset.md
Due: mkdocs-build-check

feat: Add visual examples for enhanced badge system with distinct emoji representations
  badge_examples.py
Due: none

test: Add new feature tests for auth clear, undo/redo structure, delete dialog, and delete action
  test_new_features.py
Due: none

feat: Revise Advanced Search Guide for Hei-DataHub 0.59-beta, enhancing clarity and detail
  docs/how-to/07-search-advanced.md
Due: mkdocs-build-check

feat: Enhance search autocomplete with smart suggestion tracking and uniform badge styling
  src/mini_datahub/ui/views/home.py
Due: none

refactor: Remove outdated WebDAV workflow section for clarity and conciseness
  docs/how-to/04-settings.md
Due: mkdocs-build-check

refactor: Remove outdated Customizing Badge Styles guide for clarity
  docs/how-to/add-dataset-to-cloud.md
  docs/how-to/customize-badge-styles.md
Due: mkdocs-build-check

Path conditions:
  version-sync: any of: version\.yaml
  mkdocs-build-check: any of: ^(mkdocs\.yml|docs/)
