Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

.pre-commit-config.yaml:

# Pre-commit hooks for Hei-DataHub
repos:
  - repo: local
    hooks:
      - id: version-sync
        name: Sync version from version.yaml
        entry: python scripts/sync_version.py
        language: system
        files: version\.yaml
        pass_filenames: false
        always_run: false

      - id: mkdocs-build-check
        name: Check MkDocs builds without errors
        entry: mkdocs build --strict
        language: system
        files: ^(mkdocs\.yml|docs/)
        pass_filenames: false
        always_run: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

feat(search): add support for source, format, and tag filters in search_indexed function
  src/hei_datahub/services/fast_search.py
Due: none

feat(docs): add comprehensive documentation for cloud storage integration using WebDAV
  tutorial-docs/logic/04-cloud-sync.md
Due: none

fix(docs): simplify log directory structure in UV installation guide
  docs/installation/uv-install.md
Due: mkdocs-build-check

feat(docs): add detailed guide on directory structure and file purposes for Hei-DataHub
  tutorial-docs/deep/01-directory-structure.md
Due: none

Create a seperate docs for tutorial
  dev-docs/learn/00-overview.md
  dev-docs/learn/01-architecture.md
  dev-docs/learn/01-what-is-hei-datahub.md
  dev-docs/learn/02-setup.md
  dev-docs/learn/README.md
  dev-docs/learn/advanced/01-extending.md
  dev-docs/learn/advanced/02-performance.md
  dev-docs/learn/advanced/03-debugging.md
  dev-docs/learn/advanced/04-deployment.md
  dev-docs/learn/deep/01-directory-structure.md
  dev-docs/learn/deep/02-auth.md
  dev-docs/learn/deep/03-config.md
  dev-docs/learn/deep/04-indexing.md
  dev-docs/learn/deep/05-testing.md
  dev-docs/learn/logic/01-ui-actions.md
  dev-docs/learn/logic/02-database.md
  dev-docs/learn/logic/03-autocomplete.md
  dev-docs/learn/logic/04-cloud-sync.md
  dev-docs/learn/logic/05-cli-integration.md
  dev-docs/learn/tui/01-layout-basics.md
  dev-docs/learn/tui/02-widgets.md
  dev-docs/learn/tui/03-styling.md
  dev-docs/learn/tui/04-keybindings.md
  dev-docs/learn/tui/05-custom-view.md
Due: none

feat(styles): update filter badges container to allow vertical overflow and adjust badge minimum height
  src/hei_datahub/ui/styles/home.tcss
Due: none

fix(docs): update state directory description in CLI reference
  docs/reference/13-cli-reference.md
Due: mkdocs-build-check

feat(styles): add stable scrollbar handling to details container
  src/hei_datahub/ui/styles/dataset.tcss
Due: none

feat(docs): add Vim-like keyboard navigation for tutorial documentation
  tutorial-docs/assets/vim-navigation-tutorial.js
Due: none

feat(docs): update navigation structure by removing 'Start Here' and adding 'Advanced Topics' section
  mkdocs-tutorial.yml
Due: none

fix(docs): remove outbox keybinding from customization guide
  docs/reference/customization.md
Due: mkdocs-build-check

feat(version): update to 0.60.0-beta with codename "Clean-up" and revised release details
  version.yaml
Due: version-sync

feat(about): add minimalistic retro design for About screen
  src/hei_datahub/ui/styles/about.tcss
Due: none

feat(keybindings): implement 'gg' sequence for jumping to top in search
  src/hei_datahub/ui/views/home.py
Due: none

feat(docs): add comprehensive documentation for TUI basics and Textual framework
  tutorial-docs/tui/01-layout-basics.md
Due: none

feat(styles): remove Cloud File Preview screen styles
  src/hei_datahub/ui/styles/cloud_file_preview.tcss
Due: none

feat(home): remove Heibox status indicator and related update logic
  src/hei_datahub/ui/views/home.py
Due: none

feat(docs): add comprehensive documentation for creating views and widgets
  tutorial-docs/tui/02-widgets.md
Due: none

feat(docs): update version references to v0.60-beta in index.md
  docs/index.md
Due: mkdocs-build-check

feat(keybindings): update quit and show_about actions with consistent key display
  src/hei_datahub/ui/utils/keybindings.py
Due: none

feat(docs): add release notes for v0.60-beta highlighting key features and changes
  docs/whats-new/0.60-beta.md
Due: mkdocs-build-check

feat(docs): add comprehensive documentation for creating a custom UI screen with navigation and data loading
  tutorial-docs/tui/05-custom-view.md
Due: none

feat(styles): adjust Header height for improved layout consistency
  src/hei_datahub/ui/styles/base.tcss
Due: none

feat(changelog): update changelog for v0.60.0-beta release with new features, improvements, and documentation updates
  CHANGELOG.md
Due: none

feat(search): improve dataset loading logic during search and enhance logging
  src/hei_datahub/ui/views/home.py
Due: none

feat(docs): add MkDocs configuration for Hei-DataHub tutorial documentation
  mkdocs-tutorial.yml
Due: none

feat(styles): adjust padding of filter badges for improved layout
  src/hei_datahub/ui/styles/home.tcss
Due: none

feat(styles): increase max-width of AboutCard and ensure footer is docked at the bottom
  src/hei_datahub/ui/styles/about.tcss
Due: none

feat(docs): add comprehensive guide on FTS5 indexing internals and usage
  tutorial-docs/deep/04-indexing.md
Due: none

feat(docs): add introductory tutorial for Hei-DataHub version 0.60-beta
  tutorial-docs/01-what-is-hei-datahub.md
Due: none

feat(styles): reduce Header and Footer height for improved layout; adjust title styles
  src/hei_datahub/ui/styles/dataset_edit.tcss
Due: none

feat(styles): add stable scrollbar handling to VerticalScroll in SettingsScreen
  src/hei_datahub/ui/styles/settings.tcss
Due: none

fix(docs): remove outdated Outbox directory section from configuration reference
  docs/reference/12-config.md
Due: mkdocs-build-check

fix(docs): correct indentation in data seeding paths documentation
  docs/installation/data-seeding-paths.md
Due: mkdocs-build-check

feat(home): add action to show AboutScreen from HomeScreen
  src/hei_datahub/ui/views/home.py
Due: none

feat(keybindings): add 'ctrl+a' shortcut for showing about dialog
  src/hei_datahub/services/config.py
Due: none

feat(about): update AboutScreen content and layout for improved clarity and aesthetics
  src/hei_datahub/ui/views/about.py
Due: none

feat(docs): add comprehensive guide on authentication system and credential storage
  tutorial-docs/deep/02-auth.md
Due: none

feat(styles): add stable scrollbar and overflow handling to details container
  src/hei_datahub/ui/styles/dataset_detail.tcss
Due: none

fix(keybindings): update jump_top action handling and key display format
  src/hei_datahub/ui/utils/keybindings.py
Due: none
