Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

.pre-commit-config.yaml:

# Pre-commit hooks for Hei-DataHub
repos:
  - repo: local
    hooks:
      - id: version-sync
        name: Sync version from version.yaml
        entry: python scripts/sync_version.py
        language: system
        files: version\.yaml
        pass_filenames: false
        always_run: false

      - id: mkdocs-build-check
        name: Check MkDocs builds without errors
        entry: mkdocs build --strict
        language: system
        files: ^(mkdocs\.yml|docs/)
        pass_filenames: false
        always_run: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

refactor: Remove optional code block improvements for better responsiveness
  docs/assets/overrides.css
Due: mkdocs-build-check

fix: Update site description and reorganize navigation structure in mkdocs.yml
  mkdocs.yml
Due: mkdocs-build-check

fix: Update TUI editing instructions and clarify future deletion plans
  docs/03-the-basics.md
Due: mkdocs-build-check

fix: Update version number in status area example
  docs/10-ui.md
Due: mkdocs-build-check

fix: Update FAQ with new questions, workarounds, and status for v0.57.1
  docs/90-faq.md
Due: mkdocs-build-check

fix: Overhaul documentation for v0.57, including new guides and expanded FAQ
  docs/index.md
Due: mkdocs-build-check

fix: Add troubleshooting guide with known issues and solutions for v0.56-beta and v0.57-beta
  docs/troubleshooting.md
Due: mkdocs-build-check

fix: Enhance search tutorial with field-specific filters, numeric and date operators, and examples
  docs/20-tutorials/03-search-and-filters.md
Due: mkdocs-build-check

fix: Update version information from v0.56.x to v0.57.x in version notice
  docs/_includes/version.md
Due: mkdocs-build-check

feat: Add comprehensive guide for changing themes, including available options and troubleshooting tips
  docs/how-to/change-theme.md
Due: mkdocs-build-check

feat: Add guide for customizing keybindings with examples and troubleshooting tips
  docs/how-to/customize-keybindings.md
Due: mkdocs-build-check

feat: Add comprehensive guide for editing datasets with step-by-step instructions and troubleshooting tips
  docs/how-to/edit-datasets.md
Due: mkdocs-build-check

feat: Add comprehensive guide for using advanced search with detailed examples and troubleshooting tips
  docs/how-to/search-advanced.md
Due: mkdocs-build-check

feat: Add comprehensive keyboard shortcuts reference for Hei-DataHub v0.57.x
  docs/reference/keybindings.md
Due: mkdocs-build-check

feat: Add comprehensive search syntax reference guide for Hei-DataHub
  docs/reference/search-syntax.md
Due: mkdocs-build-check

feat: Complete documentation overhaul for version 0.57-beta, including new guides and reference pages
  docs/whats-new/0.57-beta.md
Due: mkdocs-build-check

feat: Add comprehensive renovation notes for Hei-DataHub v0.57.0-beta, detailing new features, changes, and documentation updates
  docs/RENOVATION_NOTES_057.md
Due: mkdocs-build-check

feat: Remove outdated CHANGELOG and known issues documentation for developer site
  dev-docs/CHANGELOG.md
  dev-docs/known-issues.md
Due: none

feat: Add new image assets for Hei-DataHub
  assets/1.png
  assets/2.png
  assets/3.png
  assets/4.png
  assets/5.png
  assets/6.png
Due: none

feat: Add placeholder image assets for documentation
  docs/assets/1.png
  docs/assets/logo.png
Due: mkdocs-build-check

feat: Update logo placeholder in documentation assets
  docs/assets/logo.png
Due: mkdocs-build-check

feat: Center align and update Hei-DataHub logo in README
  README.md
Due: none

feat: Update Hei-DataHub logo in README
  README.md
Due: none

feat: Add additional Hei-DataHub logo to README
  README.md
Due: none

feat: Add Hei-DataHub logo to the top of the UI documentation
  docs/10-ui.md
Due: mkdocs-build-check

feat: Update MkDocs configuration to include logo and favicon settings
  mkdocs.yml
Due: mkdocs-build-check

fix: Correct markdown formatting and align Hei-DataHub logo in documentation
  docs/index.md
Due: mkdocs-build-check

feat: Center align Hei-DataHub logo in version documentation
  docs/_includes/version.md
Due: mkdocs-build-check

chore: Remove placeholder logo file from assets
  docs/assets/logo.png
Due: mkdocs-build-check

feat: Add link to learn about themes for visual customization in edit datasets documentation
  docs/how-to/edit-datasets.md
Due: mkdocs-build-check

feat: Center align Hei-DataHub logo in the 0.57-beta release notes
  docs/whats-new/0.57-beta.md
Due: mkdocs-build-check

fix: Update site description to reflect Hei-DataHub v0.57.0 (beta)
  mkdocs-dev.yml
Due: none

feat: Update version to 0.57.0-beta and change codename to Renovation
  docs/_includes/version.md
  pyproject.toml
  src/mini_datahub/_version.py
  version.yaml
Due: version-sync, mkdocs-build-check

feat: Update version to 0.57.0-beta and enhance documentation for the release
  README.md
Due: none

fix: Update installation documentation for mini-datahub version 0.57.0-beta
  docs/20-tutorials/01-installation.md
Due: mkdocs-build-check

Refactor code structure for improved readability and maintainability
  assets/1.png
  assets/2.png
  assets/3.png
  assets/4.png
  assets/5.png
  assets/6.png
  assets/png/1.svg
  assets/png/10.svg
  assets/png/11.svg
  assets/png/12.svg
  assets/png/13.svg
  assets/png/14.svg
  assets/png/2.svg
  assets/png/3.svg
  assets/png/4.svg
  assets/png/5.svg
  assets/png/6.svg
  assets/png/7.svg
  assets/png/8.svg
  assets/png/9.svg
Due: none

Add svg logos (transparent)
  assets/svg/dark_logo.svg
  assets/svg/dark_logo_H_large.svg
  assets/svg/dark_logo_H_small.svg
  assets/svg/dark_logo_circle.svg
  assets/svg/dark_logo_inline_square.svg
  assets/svg/dark_logo_inline_v1.svg
  assets/svg/dark_logo_inline_v2.svg
  assets/svg/light_logo.svg
  assets/svg/light_logo_H_large.svg
  assets/svg/light_logo_H_small.svg
  assets/svg/light_logo_circle.svg
  assets/svg/light_logo_inline_square.svg
  assets/svg/light_logo_inline_v1.svg
  assets/svg/light_logo_inline_v2.svg
  docs/assets/dark_logo.svg
  docs/assets/dark_logo_H_large.svg
  docs/assets/dark_logo_H_small.svg
  docs/assets/dark_logo_circle.svg
  docs/assets/dark_logo_inline_square.svg
  docs/assets/dark_logo_inline_v1.svg
  docs/assets/dark_logo_inline_v2.svg
  docs/assets/light_logo.svg
  docs/assets/light_logo_H_large.svg
  docs/assets/light_logo_H_small.svg
  docs/assets/light_logo_circle.svg
  docs/assets/light_logo_inline_square.svg
  docs/assets/light_logo_inline_v1.svg
  docs/assets/light_logo_inline_v2.svg
Due: mkdocs-build-check

feat: Update logo assets in README for improved branding
  README.md
Due: none

feat: Update logo images in README to use PNG format for consistency
  README.md
Due: none

feat: Update logo images in README to use SVG format for improved quality
  README.md
Due: none
