Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

.pre-commit-config.yaml:

# Pre-commit hooks for Hei-DataHub
repos:
  - repo: local
    hooks:
      - id: version-sync
        name: Sync version from version.yaml
        entry: python scripts/sync_version.py
        language: system
        files: version\.yaml
        pass_filenames: false
        always_run: false

      - id: mkdocs-build-check
        name: Check MkDocs builds without errors
        entry: mkdocs build --strict
        language: system
        files: ^(mkdocs\.yml|docs/)
        pass_filenames: false
        always_run: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

feat: Revise welcome documentation to clarify Hei-DataHub's features and benefits, emphasizing cloud integration and user experience
  docs/getting-started/00-welcome.md
Due: mkdocs-build-check

feat: Update getting started guide for v0.59, clarifying prerequisites and installation options
  docs/getting-started/01-getting-started.md
Due: mkdocs-build-check

refactor: Remove workspace location override instructions from getting started guide
  docs/getting-started/01-getting-started.md
Due: mkdocs-build-check

refactor: Simplify keyboard shortcuts documentation for clarity and consistency
  docs/getting-started/02-navigation.md
Due: mkdocs-build-check

fix: Update status description from 'GitHub connection' to 'Cloud connection' for accuracy
  docs/getting-started/02-navigation.md
Due: mkdocs-build-check

refactor: Update section header and remove example dataset structure for clarity
  docs/getting-started/03-the-basics.md
Due: mkdocs-build-check

feat: Add initial release notes for v0.59-beta highlighting privacy features
  docs/whats-new/0.59-beta.md
Due: mkdocs-build-check

refactor: Enhance interactive setup wizard with clearer prompts and feedback
  src/mini_datahub/auth/setup.py
Due: none

refactor: Update WebDAVValidator documentation and authentication method for clarity
  src/mini_datahub/auth/validator.py
Due: none

fix: Update guide link from 'Configure GitHub Settings' to 'Configure HeiBox Settings' for accuracy
  mkdocs.yml
Due: mkdocs-build-check

feat: Update version to 0.59.0-beta with new codename and release date
  src/mini_datahub/version.yaml
Due: version-sync

feat: Update documentation for Heibox integration, replacing GitHub setup instructions
  docs/how-to/04-settings.md
Due: mkdocs-build-check

refactor: Remove outdated WebDAV workflow section for clarity and conciseness
  docs/how-to/04-settings.md
Due: mkdocs-build-check

feat: Update dataset addition guide for Hei-DataHub 0.59-beta, enhancing clarity and syncing details
  docs/how-to/05-first-dataset.md
Due: mkdocs-build-check

fix: Remove extra newline in dataset addition guide for improved formatting
  docs/how-to/05-first-dataset.md
Due: mkdocs-build-check

feat: Update dataset editing guide for Hei-DataHub 0.59-beta, enhancing clarity and syncing details
  docs/how-to/06-edit-datasets.md
Due: mkdocs-build-check

feat: Revise Advanced Search Guide for Hei-DataHub 0.59-beta, enhancing clarity and detail
  docs/how-to/07-search-advanced.md
Due: mkdocs-build-check

refactor: Remove Search Autocomplete Guide for clarity and conciseness
  docs/how-to/08-search-autocomplete.md
Due: mkdocs-build-check

fix: Remove extra newline and outdated reference to Search Autocomplete in dataset guide for improved clarity
  docs/how-to/05-first-dataset.md
Due: mkdocs-build-check

refactor: Revise Customize Keybindings guide for clarity and detail
  docs/how-to/08-customize-keybindings.md
Due: mkdocs-build-check

refactor: Remove outdated "Add Dataset to Cloud" entry from How-to Guides for clarity
  mkdocs.yml
Due: mkdocs-build-check

refactor: Remove outdated Customizing Badge Styles guide for clarity
  docs/how-to/add-dataset-to-cloud.md
  docs/how-to/customize-badge-styles.md
Due: mkdocs-build-check

refactor: Remove troubleshooting and compatibility sections for clarity and conciseness
  docs/how-to/09-change-theme.md
Due: mkdocs-build-check

refactor: Update UI documentation for clarity and accuracy
  docs/reference/10-ui.md
Due: mkdocs-build-check

refactor: Update Data & SQL documentation for cloud-first storage model and key differences
  docs/reference/11-data-and-sql.md
Due: mkdocs-build-check

refactor: Update configuration documentation to reflect YAML format and Heibox integration
  docs/reference/12-config.md
Due: mkdocs-build-check

refactor: Update CLI reference for Hei-DataHub 0.59-beta, including new authentication commands and version information
  docs/reference/13-cli-reference.md
Due: mkdocs-build-check

feat: Add visual examples for enhanced badge system with distinct emoji representations
  badge_examples.py
Due: none

feat: Add comprehensive usage guide and demo for Two-Level Autocomplete functionality
  AUTOCOMPLETE_USAGE_GUIDE.md
  SMART_AUTOCOMPLETE_IMPLEMENTATION.md
  TUI_UX_IMPROVEMENTS_SUMMARY.md
  TWO_LEVEL_AUTOCOMPLETE_DEMO.md
Due: none

feat: Refactor autocomplete suggester to enhance context-aware suggestions and streamline input parsing
  src/mini_datahub/ui/widgets/autocomplete.py
Due: none

feat: Implement dataset deletion functionality with confirmation dialog
  src/mini_datahub/ui/views/home.py
Due: none

feat: Add comprehensive test suite for Smart Autocomplete and Badge System, including suggestion service, badge rendering, and usage tracking
  test_smart_autocomplete.py
  test_tui_ux_features.py
  test_two_level_autocomplete.py
Due: none

refactor: Update auth clear command help text to include search index clearing
  src/mini_datahub/cli/main.py
Due: none

feat: Update keybindings and notifications for improved user experience
  src/mini_datahub/ui/views/home.py
Due: none

refactor: Enhance auth clear functionality to also clear search index database
  src/mini_datahub/auth/clear.py
Due: none

feat: Enhance search autocomplete with smart suggestion tracking and uniform badge styling
  src/mini_datahub/ui/views/home.py
Due: none

feat: Simplify settings menu by removing unused options and updating labels
  src/mini_datahub/ui/views/settings_menu.py
Due: none

feat: Refactor settings screen for WebDAV (HeiBox) integration, updating UI and configuration handling
  src/mini_datahub/ui/views/settings.py
Due: none

test: Add new feature tests for auth clear, undo/redo structure, delete dialog, and delete action
  test_new_features.py
Due: none

feat: Add comprehensive features implementation summary for Hei-DataHub v0.59-beta, including auto-clear index, dataset deletion, and undo/redo functionality
  FEATURES_IMPLEMENTATION_SUMMARY.md
Due: none
