Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

version-sync:
  name: Sync version from version.yaml
  entry: python scripts/sync_version.py
  language: system
  pass_filenames: false
  always_run: false

mkdocs-build-check:
  name: Check MkDocs builds without errors
  entry: mkdocs build --strict
  language: system
  pass_filenames: false
  always_run: false

feat: update version argument to show version information with ASCII art
  src/mini_datahub/cli/main.py
Due: none

feat: add version.yaml to package data in pyproject.toml
  pyproject.toml
Due: none

fix: remove unnecessary blank lines in handle_update function for cleaner code
  src/mini_datahub/cli/main.py
Due: none

feat: add MANIFEST.in to include essential project files
  MANIFEST.in
Due: none

feat: add version detection and formatting to logo display
  src/mini_datahub/ui/assets/loader.py
Due: none

fix: correct malformed package-data array in pyproject.toml
  pyproject.toml
Due: none

fix: include version.yaml in package and update lookup path
  pyproject.toml
  src/mini_datahub/version.py
  src/mini_datahub/version.yaml
Due: version-sync

feat: Remove outdated documentation files and implementation summaries for v0.58
  CORRECT_INSTALL_GUIDE_v0.58.md
  CRITICAL_FIXES_v0.58.md
  DATA_PATHS_FIX_v0.58.md
  FINAL_CHECKLIST_v0.58.md
  FINAL_FIX_SUMMARY_v0.58.md
  FINAL_SOLUTION_UV_INSTALL.md
  FIX_FIRST_RUN_SEEDING_v0.58.md
  FIX_PACKAGE_REAL_DATASETS.md
  IMPLEMENTATION_SUMMARY_v0.58.md
  IMPLEMENTATION_SUMMARY_v0.58_XDG.md
  QUICK_REFERENCE_v0.58.md
  TESTING_WORKSPACE_FIX.md
  UPDATE_COMMAND_v0.58.md
  XDG_STANDALONE_INSTALLATION.md
Due: none

feat: Update CHANGELOG for 0.58.1-beta release with fixes and new features
  CHANGELOG.md
Due: none

feat: update design principles in documentation to include new deployment and integration features
  docs/getting-started/00-welcome.md
Due: mkdocs-build-check

feat: update version to 0.58.1-beta and enhance installation instructions in README
  README.md
Due: none

feat: update version date to 2025-10-09 and enhance documentation for v0.58.1-beta
  docs/index.md
Due: mkdocs-build-check

feat: add comprehensive what's new documentation for v0.58-beta release
  docs/whats-new/0.58-beta.md
Due: mkdocs-build-check

feat: update release date to 2025-10-09 and refine release notes in version.yaml
  version.yaml
Due: version-sync

feat: update installation instructions and prerequisites in getting started guide for v0.58
  docs/getting-started/01-getting-started.md
Due: mkdocs-build-check

feat: Remove duplicate entries from the "What's New" section in mkdocs.yml
  mkdocs.yml
Due: mkdocs-build-check

feat: Remove latest version entry from the "What's New" section in 0.57-beta documentation
  docs/whats-new/0.57-beta.md
Due: mkdocs-build-check

feat: Remove outdated CHANGELOG for 0.58.1-beta release
  CHANGELOG.md
Due: none

feat: Add psutil and rich as dependencies in pyproject.toml
  pyproject.toml
Due: none

feat: Refactor update handling to use atomic update strategy and improve user experience
  src/mini_datahub/cli/main.py
Due: none

feat: Implement atomic update manager with multi-phase update strategy and preflight checks
  src/mini_datahub/cli/update_manager.py
Due: none

Add light desktop logo SVG asset
  assets/desktop/dark_desktop_logo.svg
  assets/desktop/light_desktop_logo.svg
Due: none

feat: Enhance desktop entry script to install custom icon and improve user feedback
  scripts/create_desktop_entry.sh
Due: none

feat: Add Windows Update Helper script with preflight checks and update process
  scripts/windows_update_helper.ps1
Due: none

feat: Add asset paths for hei_datahub including SVG and PNG icons
  pyproject.toml
Due: none

Add desktop entry and icons for Hei-DataHub application
  src/hei_datahub/assets/desktop/hei-datahub.desktop.tmpl
  src/hei_datahub/assets/icons/hei-datahub-symbolic.svg
  src/hei_datahub/assets/icons/logo-full-256.png
  src/hei_datahub/assets/icons/logo-full.svg
Due: none

feat: Add desktop integration commands for installation and uninstallation on Linux
  src/mini_datahub/cli/main.py
Due: none

feat: Implement desktop integration installer for Hei-DataHub on Linux
  src/hei_datahub/desktop_install.py
Due: none

feat: Add documentation for desktop integration installation on Linux
  docs/installation/desktop-integration.md
Due: mkdocs-build-check

feat: Update desktop integration CLI commands for improved structure and organization
  CLI_COMMAND_UPDATE.md
  DESKTOP_INTEGRATION.md
  DESKTOP_INTEGRATION_SUMMARY.md
  scripts/test_desktop_integration.py
Due: none

feat: Add changelog for version 0.58.2-beta with desktop integration updates
  CHANGELOG.md
Due: none

feat: Bump version to 0.58.2-beta in pyproject.toml
  pyproject.toml
Due: none

feat: Update version to 0.58.2-beta and adjust release date and notes in version.yaml
  version.yaml
Due: version-sync

feat: Update version to 0.58.2-beta and revise release notes in index.md
  docs/index.md
Due: mkdocs-build-check

feat: Update version notice to 0.58.2-beta and revise release details in version.md
  docs/_includes/version.md
Due: mkdocs-build-check

feat: Update release notes for v0.58.2-beta, adding automatic desktop integration details
  docs/whats-new/0.58-beta.md
Due: mkdocs-build-check

feat: Update version to 0.58.2-beta and revise release date and notes in version.yaml
  src/mini_datahub/version.yaml
Due: version-sync

feat: Update version to 0.58.2-beta in README.md
  README.md
Due: none

feat: Enable terminal for Hei-DataHub desktop entry
  src/hei_datahub/assets/desktop/hei-datahub.desktop.tmpl
Due: none

feat: Enhance desktop entry installation with executable path detection and atomic write improvements
  src/hei_datahub/desktop_install.py
Due: none

Path conditions:
  version-sync: any of: version\.yaml
  mkdocs-build-check: any of: ^(mkdocs\.yml|docs/)
