Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

version-sync:
  name: Sync version from version.yaml
  entry: python scripts/sync_version.py
  language: system
  pass_filenames: false
  always_run: false

mkdocs-build-check:
  name: Check MkDocs builds without errors
  entry: mkdocs build --strict
  language: system
  pass_filenames: false
  always_run: false

fix(docs): correct release date for version 0.55.1-beta in changelog
  docs/99-changelog.md
Due: mkdocs-build-check

feat(docs): add new version 0.61.0-beta with comprehensive documentation overhaul and infrastructure improvements
  docs/99-changelog.md
Due: mkdocs-build-check

fix(version): update version to 0.55.2-beta across all relevant files
  docs/_includes/version.md
  pyproject.toml
  src/mini_datahub/_version.py
  version.yaml
Due: version-sync, mkdocs-build-check

fix(docs): update version to 0.55.2-beta in README and adjust latest release details
  README.md
Due: none

fix(ui): standardize key_display values in HomeScreen bindings and set default theme to 'gruvbox'
  src/mini_datahub/ui/views/home.py
Due: none

fix(imports): update load_config import path from mini_datahub.infra.auth to mini_datahub.app.settings
  src/mini_datahub/ui/widgets/console.py
Due: none

fix(docs): add changelog entry for version 0.55.2-beta addressing debug console import error
  docs/99-changelog.md
Due: mkdocs-build-check

feat(dataset): add testing-the-beta-version — Testing the beta version
  data/testing-the-beta-version/metadata.yaml
Due: none

feat(dataset): add testing-the-beta-version — Testing the beta version (#19)
  data/testing-the-beta-version/metadata.yaml
Due: none

feat(dataset): add burned-area — Burned Area v01
  data/burned-area/metadata.yaml
Due: none

feat(dataset): add burned-area — Burned Area v01 (#20)
  data/burned-area/metadata.yaml
Due: none

fix(gitignore): update .gitignore to include user configuration and benchmark results
  .gitignore
Due: none

fix(version): update version to 0.56.0-beta in pyproject.toml
  pyproject.toml
Due: none

fix(version): update version to 0.56.0-beta with new codename and release date
  version.yaml
Due: version-sync

fix(version): update notes in version.yaml to reflect new features
  version.yaml
Due: version-sync

feat(changelog): update to version 0.56.0-beta with major enhancements including inline editing, structured search, and improved workflows
  docs/99-changelog.md
Due: mkdocs-build-check

fix(version): update version notice to 0.56.0-beta with codename Precision
  docs/_includes/version.md
Due: mkdocs-build-check

fix(.gitignore): update to ignore entire bench directory instead of specific CSV files
  .gitignore
Due: none

feat(docs): implement comprehensive documentation system for Hei-DataHub
  DOCS_IMPLEMENTATION_SUMMARY.md
Due: none

feat(show_config): add script to display current Hei-DataHub configuration
  scripts/show_config.py
Due: none

fix(version): update version to 0.56.0-beta with new build number and release details
  src/mini_datahub/_version.py
Due: none

feat(keymap): add commands to export and import custom keybindings
  src/mini_datahub/cli/main.py
Due: none

feat(queries): implement query parsing and structured search functionality
  src/mini_datahub/core/queries.py
Due: none

feat(config): add user configuration and keybindings management functions
  src/mini_datahub/infra/config_paths.py
Due: none

feat(actions): implement action registry for command palette and keybindings
  src/mini_datahub/services/actions.py
Due: none

feat(config): add user configuration management with precedence handling
  src/mini_datahub/services/config.py
Due: none

feat(publish): enhance PR workflow to handle dataset updates and improve PR title formatting
  src/mini_datahub/services/publish.py
Due: none

feat(search): enhance search functionality with structured query support and improved error handling
  src/mini_datahub/services/search.py
Due: none

feat(storage): implement atomic write operations and SQLite reindexing for dataset metadata
  src/mini_datahub/services/storage.py
Due: none

fix(update_check): add type ignore for state_manager import to resolve mypy issues
  src/mini_datahub/services/update_check.py
Due: none

feat(theme): implement theme management with built-in themes and customizable overrides
  src/mini_datahub/ui/theme.py
Due: none

feat(home): enhance keybindings management and search functionality with dynamic loading and improved error handling
  src/mini_datahub/ui/views/home.py
Due: none

feat(help): add help overlay widget for displaying keybindings and shortcuts
  src/mini_datahub/ui/widgets/help_overlay.py
Due: none

feat(command_palette): add Command Palette widget for quick action access
  src/mini_datahub/ui/widgets/command_palette.py
Due: none

feat(gitignore): add test directory to .gitignore
  .gitignore
Due: none

fix(gitignore): correct directory name from 'test' to 'tests'
  .gitignore
Due: none

feat(dataset): add burned-area — Burned Area v01 (#20) (#21)
  data/burned-area/metadata.yaml
Due: none

0.56.0 beta (#22)
  .gitignore
  DOCS_IMPLEMENTATION_SUMMARY.md
  docs/99-changelog.md
  docs/_includes/version.md
  pyproject.toml
  scripts/show_config.py
  src/mini_datahub/_version.py
  src/mini_datahub/cli/main.py
  src/mini_datahub/core/queries.py
  src/mini_datahub/infra/config_paths.py
  src/mini_datahub/services/actions.py
  src/mini_datahub/services/config.py
  src/mini_datahub/services/publish.py
  src/mini_datahub/services/search.py
  src/mini_datahub/services/storage.py
  src/mini_datahub/services/update_check.py
  src/mini_datahub/ui/theme.py
  src/mini_datahub/ui/views/home.py
  src/mini_datahub/ui/widgets/command_palette.py
  src/mini_datahub/ui/widgets/help_overlay.py
  version.yaml
Due: version-sync, mkdocs-build-check

feat(dataset): add burned-area — Burned Area
  data/burned-area/metadata.yaml
Due: none

feat(dataset): add burned-area — Burned Area (#23)
  data/burned-area/metadata.yaml
Due: none

Path conditions:
  version-sync: any of: version\.yaml
  mkdocs-build-check: any of: ^(mkdocs\.yml|docs/)
