Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

version-sync:
  name: Sync version from version.yaml
  entry: python scripts/sync_version.py
  language: system
  pass_filenames: false
  always_run: false

mkdocs-build-check:
  name: Check MkDocs builds without errors
  entry: mkdocs build --strict
  language: system
  pass_filenames: false
  always_run: false

Fix formatting in mkdocs.yml by removing unnecessary blank line
  mkdocs.yml
Due: mkdocs-build-check

Add requirements.txt for MkDocs documentation dependencies
  docs/requirements.txt
Due: mkdocs-build-check

Remove GitHub Actions workflow for deploying MkDocs documentation
  .github/workflows/pages_v2.yml
Due: none

Add overrides CSS file to MkDocs configuration
  mkdocs.yml
Due: mkdocs-build-check

Add overrides CSS file for Hei-DataHub documentation styling
  docs/assets/overrides.css
Due: mkdocs-build-check

Remove icon prefixes from quick links in index.md
  docs/index.md
Due: mkdocs-build-check

Refactor CSS overrides for Hei-DataHub documentation to improve image handling and responsiveness
  catalog-gitignore-example
  docs/assets/overrides.css
Due: mkdocs-build-check

Add markdown extensions for attribute lists and table of contents permalink
  mkdocs.yml
Due: mkdocs-build-check

Remove Quick Links section from index.md to streamline documentation
  docs/index.md
Due: mkdocs-build-check

Comment out headerlink styles in overrides.css to hide permalink symbols
  docs/assets/overrides.css
Due: mkdocs-build-check

Add vim-navigation.js to additional JavaScript for enhanced navigation
  mkdocs.yml
Due: mkdocs-build-check

Add vim-like keyboard navigation for MkDocs
  docs/assets/vim-navigation.js
Due: mkdocs-build-check

Add debugging logs and enhance keyboard listener initialization for vim navigation
  docs/assets/vim-navigation.js
Due: mkdocs-build-check

Enhance vim navigation logging and clean up whitespace in vim-navigation.js
  docs/assets/vim-navigation.js
Due: mkdocs-build-check

Remove the testing datasets
  data/new-weather/metadata.yaml
  data/test-data/metadata.yaml
  data/test-v2/metadata.yaml
  data/testing-another-one/metadata.yaml
  data/weather-q1/metadata.yaml
  data/weather-q2/metadata.yaml
  data/weather/weather.yaml
Due: none

feat(dataset): add precipitation — Precipitation
  data/precipitation/metadata.yaml
Due: none

feat(dataset): add precipitation — Precipitation (#18)
  data/precipitation/metadata.yaml
Due: none

style(overrides): improve image and SVG constraints, enhance spacing, and update responsive adjustments
  docs/assets/overrides.css
Due: mkdocs-build-check

chore(docs): remove redundant section headers from documentation
  docs/00-welcome.md
  docs/01-getting-started.md
  docs/02-navigation.md
  docs/03-the-basics.md
  docs/10-ui.md
Due: mkdocs-build-check

refactor(docs): update section titles for clarity and consistency
  docs/11-data-and-sql.md
  docs/12-config.md
  docs/20-tutorials/01-installation.md
  docs/20-tutorials/02-first-dataset.md
  docs/20-tutorials/03-search-and-filters.md
  docs/90-faq.md
  docs/98-versioning.md
  docs/99-changelog.md
Due: mkdocs-build-check

fix(docs): update section title for versioning to include release policy
  mkdocs.yml
Due: mkdocs-build-check

feat(config): enhance token management with logging and error handling
  src/mini_datahub/app/settings.py
Due: none

feat(settings): enhance save feedback with token storage details
  src/mini_datahub/ui/views/settings.py
Due: none

fix(docs): update release dates for versions in changelog
  docs/99-changelog.md
Due: mkdocs-build-check

fix(version): update version to 0.55.6-beta in pyproject.toml
  pyproject.toml
Due: none

fix(version): update version to 0.55.6-beta in version.yaml
  version.yaml
Due: version-sync

fix(version): update version to 0.55.6-beta in version.md and _version.py
  docs/_includes/version.md
  src/mini_datahub/_version.py
Due: mkdocs-build-check

fix(docs): update changelog for v0.55.6-beta, detailing GitHub PAT persistence improvements and keyring integration
  docs/99-changelog.md
Due: mkdocs-build-check

chore(config): remove obsolete .datahub_config.json file
  .datahub_config.json
Due: none

fix(docs): update changelog section header for clarity
  docs/99-changelog.md
Due: mkdocs-build-check

fix(docs): update changelog for GitHub PAT persistence improvements and error handling
  docs/99-changelog.md
Due: mkdocs-build-check

fix(docs): correct version formatting in changelog for consistency
  docs/99-changelog.md
Due: mkdocs-build-check

fix(docs): update changelog to remove version prefix for patch releases
  docs/99-changelog.md
Due: mkdocs-build-check

fix(version): update version to 0.55.1-beta across documentation and configuration files
  docs/_includes/version.md
  pyproject.toml
  src/mini_datahub/_version.py
  version.yaml
Due: version-sync, mkdocs-build-check

fix(docs): update changelog to correct version numbers and remove redundant entries
  docs/99-changelog.md
Due: mkdocs-build-check

fix(docs): update changelog for consistency and clarity in version history
  docs/99-changelog.md
Due: mkdocs-build-check

fix(docs): update changelog for clarity and consistency in bug fix release details
  docs/99-changelog.md
Due: mkdocs-build-check

fix(docs): update changelog for consistency in version formatting and clarity
  docs/99-changelog.md
Due: mkdocs-build-check

fix(docs): update changelog for improved clarity and consistency in release details
  docs/99-changelog.md
Due: mkdocs-build-check

fix(docs): update changelog for consistency in feature descriptions and formatting
  docs/99-changelog.md
Due: mkdocs-build-check

Path conditions:
  version-sync: any of: version\.yaml
  mkdocs-build-check: any of: ^(mkdocs\.yml|docs/)
