Repository 0xpix/Hei-DataHub: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, mkdocs-build-check

version-sync:
  name: Sync version from version.yaml
  entry: python scripts/sync_version.py
  language: system
  pass_filenames: false
  always_run: false

mkdocs-build-check:
  name: Check MkDocs builds without errors
  entry: mkdocs build --strict
  language: system
  pass_filenames: false
  always_run: false

style: Update vim command bar to match simple-blog theme
  docs/assets/vim-navigation.js
Due: mkdocs-build-check

feat: Enhance GitHub Actions workflow for building and verifying documentation
  .github/workflows/pages.yml
Due: none

feat: Add vim command mode with :dev shortcut to navigate to developer docs
  GITHUB_PAGES_FIX.md
  OBFUSCATED_DOCS_PATH.md
  docs/assets/vim-navigation.js
Due: mkdocs-build-check

feat: Add vim command mode with :dev shortcut to navigate to developer docs (#35)
  docs/assets/vim-navigation.js
Due: mkdocs-build-check

feat(dev-docs): Add vim navigation with :user command to return to user docs
  dev-docs/assets/vim-navigation-dev.js
  mkdocs-dev.yml
Due: none

feat: Remove vim-navigation.js file and associated functionality
  docs/assets/vim-navigation.js
Due: mkdocs-build-check

fix: Correct site detection logic in site switcher
  dev-docs/assets/site-switcher.js
Due: none

fix: Update site detection logic in site switcher for correct path handling
  dev-docs/assets/site-switcher.js
Due: none

fix: Update build verification for developer documentation to check obfuscated path
  .github/workflows/dev-docs.yml
  .github/workflows/pages.yml
Due: none

fix: Correct obfuscated path to x9k2m7n4p8q1/ (remove /dev suffix)
  .github/workflows/dev-docs.yml
  mkdocs-dev.yml
Due: none

fix: Update Developer Docs URL and adjust site detection logic
  dev-docs/assets/site-switcher.js
Due: none

docs(dev): Move changelog and versioning policy to developer documentation
  dev-docs/changelog.md
  dev-docs/versioning.md
  mkdocs-dev.yml
Due: none

docs(dev): Add comprehensive beginner-friendly developer documentation
  dev-docs/codebase/core-module.md
  dev-docs/codebase/overview.md
  dev-docs/quickstart/common-tasks.md
  dev-docs/quickstart/development-setup.md
  dev-docs/quickstart/first-contribution.md
  dev-docs/quickstart/getting-started.md
  mkdocs-dev.yml
Due: none

fix: Remove unnecessary blank lines in navigation structure of developer documentation
  mkdocs-dev.yml
Due: none

fix: Hide header links in developer documentation styles
  dev-docs/assets/dev-overrides.css
Due: none

fix: Remove unnecessary blank line in the action_say_hello method of first-contribution guide
  dev-docs/quickstart/first-contribution.md
Due: none

fix: Remove unnecessary blank lines in core module documentation and tests
  dev-docs/codebase/core-module.md
Due: none

fix: Clean up whitespace in vim navigation script
  dev-docs/assets/vim-navigation-dev.js
Due: none

feat: Add comprehensive guide for editing datasets with step-by-step instructions and troubleshooting tips
  docs/how-to/edit-datasets.md
Due: mkdocs-build-check

feat: Update logo images in README to use SVG format for improved quality
  README.md
Due: none

feat: Add link to learn about themes for visual customization in edit datasets documentation
  docs/how-to/edit-datasets.md
Due: mkdocs-build-check

Add svg logos (transparent)
  assets/svg/dark_logo.svg
  assets/svg/dark_logo_H_large.svg
  assets/svg/dark_logo_H_small.svg
  assets/svg/dark_logo_circle.svg
  assets/svg/dark_logo_inline_square.svg
  assets/svg/dark_logo_inline_v1.svg
  assets/svg/dark_logo_inline_v2.svg
  assets/svg/light_logo.svg
  assets/svg/light_logo_H_large.svg
  assets/svg/light_logo_H_small.svg
  assets/svg/light_logo_circle.svg
  assets/svg/light_logo_inline_square.svg
  assets/svg/light_logo_inline_v1.svg
  assets/svg/light_logo_inline_v2.svg
  docs/assets/dark_logo.svg
  docs/assets/dark_logo_H_large.svg
  docs/assets/dark_logo_H_small.svg
  docs/assets/dark_logo_circle.svg
  docs/assets/dark_logo_inline_square.svg
  docs/assets/dark_logo_inline_v1.svg
  docs/assets/dark_logo_inline_v2.svg
  docs/assets/light_logo.svg
  docs/assets/light_logo_H_large.svg
  docs/assets/light_logo_H_small.svg
  docs/assets/light_logo_circle.svg
  docs/assets/light_logo_inline_square.svg
  docs/assets/light_logo_inline_v1.svg
  docs/assets/light_logo_inline_v2.svg
Due: mkdocs-build-check

feat: Complete documentation overhaul for version 0.57-beta, including new guides and reference pages
  docs/whats-new/0.57-beta.md
Due: mkdocs-build-check

feat: Update version to 0.57.0-beta and enhance documentation for the release
  README.md
Due: none

feat: Remove outdated CHANGELOG and known issues documentation for developer site
  dev-docs/CHANGELOG.md
  dev-docs/known-issues.md
Due: none

feat: Update Hei-DataHub logo in README
  README.md
Due: none

feat: Update version to 0.57.0-beta and change codename to Renovation
  docs/_includes/version.md
  pyproject.toml
  src/mini_datahub/_version.py
  version.yaml
Due: version-sync, mkdocs-build-check

fix: Correct markdown formatting and align Hei-DataHub logo in documentation
  docs/index.md
Due: mkdocs-build-check

feat: Update logo image sizes in README for improved layout consistency
  README.md
Due: none

feat: Update logo images in README to use PNG format for consistency
  README.md
Due: none

feat: Add placeholder image assets for documentation
  docs/assets/1.png
  docs/assets/logo.png
Due: mkdocs-build-check

feat: Remove outdated logo images from README for clarity and consistency
  README.md
Due: none

feat: Center align Hei-DataHub logo in the 0.57-beta release notes
  docs/whats-new/0.57-beta.md
Due: mkdocs-build-check

feat: Update MkDocs configuration to include logo and favicon settings
  mkdocs.yml
Due: mkdocs-build-check

feat: Add comprehensive guide for changing themes, including available options and troubleshooting tips
  docs/how-to/change-theme.md
Due: mkdocs-build-check

feat: Center align and update Hei-DataHub logo in README
  README.md
Due: none

feat: Add Hei-DataHub logo to the top of the UI documentation
  docs/10-ui.md
Due: mkdocs-build-check

fix: Update site description to reflect Hei-DataHub v0.57.0 (beta)
  mkdocs-dev.yml
Due: none

fix: Add troubleshooting guide with known issues and solutions for v0.56-beta and v0.57-beta
  docs/troubleshooting.md
Due: mkdocs-build-check

Path conditions:
  version-sync: any of: version\.yaml
  mkdocs-build-check: any of: ^(mkdocs\.yml|docs/)
